<h1>Book Category</h1>

<p *ngIf="!bookCategorys"><em>Loading...</em></p>

<table class='table' *ngIf="bookCategorys">
    <thead>
    <tr>
        <th>Id</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of bookCategorys">
        <td>{{ item.name }}</td>
    </tr>
    </tbody>
</table>

<form #bookCategoryForm="ngForm" (ngSubmit)="onSubmit()">
    <label>Value's</label>
    <input type="text"
           class="form-control"
           name="bookCategoryName"
           [(ngModel)]="bookCategoryName"
           required minlength="3" maxlength="20">
    <label>Value's</label>
    <pre>{{bookCategoryForm.value | json}}</pre>
    <button type="submit" class="btn btn-primary" [disabled]="bookCategoryForm.invalid">Submit</button>
</form>